@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div style="text-align:center; padding-top:10%;font-size:16px;"></div>
<div >
    <div style="font-size:16px;padding-left:6%">
        <h2>You are not allowed to access this page</h2>
        <p>Please, click the button below to be redirected to the home page.</p>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>